<div *ngIf="artist">

    <h2>{{ artist.name }} Details</h2>
    <div><span>id: </span>{{ artist.id }}</div>
    <div>
        <ul>
            <li><label>name:
                <input [(ngModel)]="artist.name" placeholder="name"/>
            </label></li>
            <li><label>birthdate:
                <input [(ngModel)]="artist.birthdate" placeholder="birthdate"/>
            </label></li>
            <li><label>gender:
                <input [(ngModel)]="artist.gender" placeholder="gender"/>
            </label></li>
        </ul>
    </div>

</div>
