<div *ngIf="artist">

    <h2>{{ artist.name }} Details</h2>
    <div><span>id: </span>{{ artist.id }}</div>
    <div>
        <!--
        <label>name:
            <input [(ngModel)]="artist.name" placeholder="name"/>
        </label>
        <label>birthdate:
            <input [(ngModel)]="artist.birthdate" placeholder="birthdate"/>
            <li>{{ artist.birthdate }}</li>
            <li>{{ artist.gender }}</li>
        </label>
        -->
    </div>

</div>
<p>
  artist-detail works!
</p>
