<div *ngIf="music">

    <h2>{{ music.titre }} Details</h2>
    <div><span>id: </span>{{ music.id }}</div>

    <div>
        <form (ngSubmit)="onSubmit()">
        <ul>
            <li><label>title:
                <input type="text" [(ngModel)]="music.titre" placeholder="title" name="title"/>
            </label></li>
            <li><label>date:
                <input type="date" [(ngModel)]="music.date" placeholder="date" name="date"/>
            </label></li>
            <li><label>artist:
                <input type="number" [(ngModel)]="music.artiste" placeholder="artiste" name="artist"/>
            </label></li>
            <li><label>duration:
                <input type="text" [(ngModel)]="music.duree" placeholder="duration" name="mm:ss"/>
            </label></li>
            <li><label>gender:
                <input type="text" [(ngModel)]="music.genre" placeholder="gender" name="gender"/>
            </label></li>
        </ul>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

<div>
    <button (click)="create()">Create Music</button>
    <button (click)="delete(music.id)">Delete Music</button>
</div>

</div>

<div *ngIf="!music">
<button (click)="create()">Create Music</button>
</div>
