<h2>List of artists</h2>
<div>
    <table>
        <tr>
            <th> id </th>
            <th> name </th>
            <th> gender </th>
        </tr>
        <tr *ngFor="let artist of lst_artist" (click)="onSelect(artist)">
            <td>{{ artist.id }}</td>
            <td>{{ artist.name }}</td>
            <td>{{ artist.gender }}</td>
        </tr>
    </table>
</div>
<div *ngIf="selectedArtist">
    <h2>Artist: {{ selectedArtist.name }}</h2>
    <ul>
        <li>{{ selectedArtist.birth_date }}</li>
        <li>{{ selectedArtist.gender }}</li>
    </ul>
</div>
